@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,400;500;0,600;0,800;1,600&display=swap');

::-webkit-scrollbar {

    display: none;
}

body {
    font-family: 'Source Sans 3', sans-serif;


}

nav {
    display: flex;
    justify-content: space-between;
    width: 90%;
    color: white;
    position: absolute;
    border-bottom: 1px solid white;
    left: 5%;
    top: 20px;

}

nav a {
    text-decoration: none;
    color: white;
    font-size: 21px;
    margin: 15px;
}

#menuBtn {
    display: none;
    z-index: 99;
}

#home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./img/hero.jpg");
    background-position: right;
    background-size: cover;
    color: white;

}

.active {
    left: 0px;

}

#about p {
    font-size: 19px;
}

.form-control {
    border-radius: 0px;
}

.form-control:focus {
    border-color: rgba(100, 100, 100, 1) !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}



@media (max-width:768px) {
    #menuBtn {
        display: block;
    }

    nav {
        width: 100%;
        top: 0px;
        left: 0px;
        padding: 10px;
    }

    nav ul {
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        background-color: black;
        width: 100%;
        top: 0px;
        left: -100%;
        height: 100vh;
        transition: 0.5s;

    }

    #about p {
        font-size: 16px;
        margin-top: 10px;
    }

    .info {
        margin-top: 20px;
    }
}