@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #333;

    font-family: Arial, sans-serif;
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
}

.container {
    background-color: whitesmoke;
    padding: 20px;
    
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    
    
}
h2{
    font-size: 30px;
    margin-bottom: 10px;
}

input,select,button{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    
}

input,button{
    font-size: 18px;
}
button{
    cursor: pointer;
    background-color: #333;
    color: white;
}
button:hover{
    background-color: rgb(33, 34, 33);
}

#result{
    font-size: 18px;

}
#convertTo{
    width: 100%;
}
@media (max-width:768px) {
    .container{
        width: 90%;
        
    }
    input,select{
        width: 100%;
        margin: 5px 0px;
    }
}